<div class="container">
  <br />
  <logout></logout>
  <br />
  <br />
  <div class="jumbotron">
    <div class="page-header">
      <h1 class="display-3">Hello!</h1>
    </div>
    <p class="lead">Get started by searching for a twitter user below!</p>
  </div>
</div>

<div class="container text-center">
  <form #twitterForm="ngForm" (ngSubmit)="onSubmit(twitterForm)" class="form-inline">
    <div class="row">
      <label for="searchBar"> Search for a twitter user </label>
    </div>
    <div class="form-group">
      <input ngModel type="text" class="form-control" id="searchBar" name="searchBar" placeholder="Insert Twitter User" #twitterUser="ngModel">
    </div>
    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<br>
<!-- Write a Service to transfer this usersList -->
<!-- <div *ngIf="twitterHandle != null">
    <button (click)='open($event, twitterHandle.screen_name)'>{{twitterHandle.screen_name}}</button>
</div> -->

<!-- <div *ngIf="tweetsList != null">
 -->

<div class="container">

  <div *ngIf="twitterHandle != null">


    <div id="{{twitterHandle.screen_name}}" class="jumbotron">
      <div class="text-center">
        <img class="img-thumbnail" src="{{twitterHandle.profile_image_url_https}}" height="15%" width="15%" />
        <div clas="row">
          <label>{{twitterHandle.screen_name}}</label>
        </div>
      </div>
      <br>
      <div class="alert alert-danger" *ngIf="twitterHandle.protected"> Twitter User's Tweets are Protected.</div>
      <div *ngIf="tweetsList != null">
        <div *ngFor="let tweet of tweetsList; let i = index">
          <ul class="list-group">
            <a data-toggle="collapse" href="#{{tweet.id}}"><li class="list-group-item">
              <div *ngIf="tweet.hasOwnProperty('retweeted_status');else own_tweet">
                RT &nbsp;@{{tweet.retweeted_status.user.screen_name}}: &nbsp; {{tweet.retweeted_status.full_text}}
              </div>
              <ng-template #own_tweet> {{tweet.full_text}}</ng-template>
            </li></a>
            <div id="{{tweet.id}}" class="collapse">
              <h3>{{sentimentsList[i]}}</h3>
            </div>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
<div *ngIf = "data">
<p-chart type="pie" [data]="data"></p-chart>
</div>
<!-- <div *ngIf="tweetsList != null">
  <div *ngFor="let tweet of tweetsList">
    <ul>
      <li>
        <div *ngIf = "tweet.hasOwnProperty('retweeted_status');else own_tweet">
          RT &nbsp;@{{tweet.retweeted_status.user.screen_name}}: &nbsp; {{tweet.retweeted_status.full_text}}
        </div>
        <ng-template #own_tweet> {{tweet.full_text}}</ng-template>
      </li>

    </ul>
  </div>
</div> -->

<!--<div *ngIf="sentimentsList != null">
  <div *ngFor="let sentiment of sentimentsList">
    <ul>
      <li> {{sentiment}}</li>
    </ul>
  </div>
</div>-->
