<form #twitterForm = "ngForm" (ngSubmit) = "onSubmit(twitterForm)">
  <div class ="form-group">
    <label for="searchBar"> Search for a twitter user </label>
    <input ngModel type="text" id="searchBar" name="searchBar"
      placeholder="Twitter User" #twitterUser = "ngModel">
    <input type="submit" value="Submit">

  </div>
</form>
<!-- Write a Service to transfer this usersList -->
<div *ngIf="usersList != null">
  <div *ngFor="let user of usersList">
    <!-- <button (click)="open($event, user.screen_name)">{{user.screen_name}}</button> -->
    <button (click)='open($event, user.screen_name)'>{{user.screen_name}}</button>

  </div>
  <!-- {{usersList[0].id}}
  {{usersList[0].screen_name}}
  {{usersList[1].id}}
  {{usersList[1].screen_name}} -->
</div>
<div *ngIf="tweetsList != null">
  <div *ngFor="let tweet of tweetsList">
    <ul>
      <li> {{tweet.text}}</li>
    </ul>
  </div>
</div>

<div *ngIf="sentimentsList != null">
  <div *ngFor="let sentiment of sentimentsList">
    <ul>
      <li> {{sentiment}}</li>
    </ul>
  </div>
</div>
