
<!DOCTYPE html>
<html>
  <head>
    <title>
      Test
    </title>

  </head>
  <body>
    <div id="app">
      <h1>
<<<<<<< HEAD
        Search Twitter Users
=======
        Social Media Sentiment Analysis
>>>>>>> ee1e18ceec0470c3495e5bab6dc1432e74cd7ccd
      </h1>
        <form id="twitterSearch" action="/search" method="post">
          <input type="text" name="searchBar" placeholder="placeholder"></input>
          <input type="submit" value="Submit">
        </form>
<<<<<<< HEAD
=======
      <p>Enter above the Twitter handle for the user you wish to search for</p>
>>>>>>> ee1e18ceec0470c3495e5bab6dc1432e74cd7ccd
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  </body>
</html>
<<<<<<< HEAD
=======

<script>
  var textBox = document.getElementById('searchBar');

  textBox.onkeydown = function(){
    document.getElementById('searchValue').innerText = textBox.value;
  }

</script>
>>>>>>> ee1e18ceec0470c3495e5bab6dc1432e74cd7ccd
