
<!DOCTYPE html>
<html>
  <head>
    <title>
      Landing Test
    </title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div id="app">
      <h1>
        Social Media Sentiment Analysis
      </h1>

      <form id="twitterSearch" action="/search" method="post">
        <input id="searchBar" type="text" name="searchBar" placeholder="Enter Twitter handle to search"></input>
        <input id="searchButton" type="submit" value="Submit">
      </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  </body>
</html>
<script>
  var textBox = document.getElementById('searchBar');

  textBox.onkeydown = function(){
    document.getElementById('searchValue').innerText = textBox.value;
  }

</script>
