
<!DOCTYPE html>
<html>
  <head>
    <title>
      CS 411 A1 4 Test
      testetsedasdas
    </title>

  </head>
  <body>
    <div id="app">
      <h1>
        ?!?!!?!?!?asdsadas
      </h1>
      
      <h1> 
        <%- JSON.stringify(twitter[0].description) %>
      </h1>
      <p>        
        <%- JSON.stringify(twitter[0].name) %>
        <br/>
        <%- JSON.stringify(twitter[0].followers_count) %>

      </p>

    </div>

  </body>
</html>

