
<!DOCTYPE html>
<html>
  <head>
    <title>
      Test
    </title>

  </head>
  <body>
    <div id="app">
      <h3> 
        Description: <%- JSON.stringify(twitter[0].description) %>
      </h3>
      <p>        
        Name: <%- JSON.stringify(twitter[0].name) %>
        <br/>
        Followers: <%- JSON.stringify(twitter[0].followers_count) %>

      </p>

    </div>

  </body>
</html>

