<!DOCTYPE html>
<html>
  <head>
    <title>
      CS 411 A1 4 Test
    </title>

  </head>
  <body>
    <div id="app">
      <h1> 
        <%- JSON.stringify(sentimentAnalysis) %>
      </h1>

    </div>

  </body>
</html>

