<div>
  <div>
    <form [formGroup]="rForm" (ngSubmit)="Register(rForm.value)">
      <div class="form-container">
        <div class="row columns">
          <h1>My Registration Form</h1>
          <label>Email
            <input formControlName="email" (focus)="emailFocus = true" (blur)="emailFocus = false" name="email">
          </label>

          <label>password
            <input type="password" (focus)="pwFocus = true" (blur)="pwFocus = false" formControlName="password" name="password">
          </label>
          <label>confirm password
            <input type="password" (focus)="pwFocus = true" (blur)="pwFocus = false" formControlName="confirmPassword" name="confirmPassword">
          </label>

          <div class="alert alert-danger" *ngIf="!rForm.get('email').valid && rForm.get('email').dirty && emailFocus == false">{{ emailError }}</div>
          <div class="alert alert-danger" *ngIf="!rForm.get('password').valid && rForm.get('password').dirty && pwFocus == false">{{passwordError}}</div>
          <div class="alert alert-danger" *ngIf="rForm.get('confirmPassword').errors?.MatchPassword && rForm.controls['confirmPassword'].dirty && pwFocus == false">Passwords do not match</div>
          <div class="alert alert-danger" *ngIf="message && !message.valid"> {{message.message}} </div>
          <div class="alert alert-success" *ngIf="message && message.valid"> {{message.message}} </div>
          <input type="submit" class="button expanded" value="Submit Form" [disabled]="rForm.invalid">
        </div>
      </div>
    </form>
  </div>

  <div>
    <form #loginForm = "ngForm" (ngSubmit) = "Login(loginForm)">
      <div class="form-container">
        <div class="row columns">
          <h1>My Login Form</h1>
          <label>email
            <input ngModel name="email">
          </label>
          <label>password
            <input ngModel type="password" name="password">
          </label>
          <input type="submit" class="button expanded" value="Submit">
        </div>
      </div>
    </form>
  </div>
</div>
