<div class="container">
  <div class="jumbotron text-center">
    <h1 class="display-2">Welcome to Senti-Tweet!</h1>
    <p class="lead">Enter a twitter user and perfrom sentiment analysis.</p>
  </div>
</div>

<search-twitter></search-twitter>
<sentiment></sentiment>
<twitter-login></twitter-login>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <registration-form></registration-form>
    </div>
    <div class="col-sm-6">
      <login-form></login-form>
    </div>
  </div>
</div>
<logout></logout>
