<div *ngIf="!matchPW; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="onSubmit(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>My Registration Form</h1>
        <label>Email
          <input formControlName="email" (focus)="emailFocus = true" (blur)="emailFocus = false" name="email">
        </label>

        <div class="alert alert-danger" *ngIf="!rForm.get('email').valid && rForm.get('email').dirty && emailFocus == false">{{ emailError }}</div>

        <label>password
          <input type="password" formControlName="password" name="password">
        </label>
        <label>confirm password
          <input type="password" formControlName="confirmPassword" name="confirmPassword">
        </label>

        <div class="alert alert-danger" *ngIf="!rForm.get('password').valid && rForm.get('password').dirty">{{passwordError}}</div>
        <div class="alert alert-danger" *ngIf="!rForm.controls.confirmPassword.errors?.MatchPassword && rForm.controls['confirmPassword'].dirty">Passwords not match</div>
        <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div>

<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
        <h1>{{ email }}</h1>

        <p>{{ password }}</p>
        <p>{{ confirmPassword }} </p>
        <p> {{ password == confirmPassword }}</p>
    </div>
  </div>
</ng-template>
