<div *ngIf="!matchPW; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="onSubmit(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>My Registration Form</h1>
        <label>email
          <input type="text" formControlName="email">
        </label>
        <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched && !rForms.controls['.email'].dirty">{{ emailError }}</div>

        <label>password
          <input type="password" formControlName="password">
        </label>
        <label>confirm password
          <input type="password" formControlName="confirmPassword">
        </label>

        <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">{{passwordError}}</div>
        <div class="alert alert-danger" *ngIf="!rForm.controls.confirmPassword.errors?.MatchPassword && rForm.controls['confirmPassword'].touched">Passwords not match</div>
        <!-- <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid"> -->

        <input type="submit" class="button expanded" value="Submit Form">
      </div>
    </div>
  </form>
</div>

<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
        <h1>{{ email }}</h1>

        <p>{{ password }}</p>
        <p>{{ confirmPassword }} </p>
        <p> {{ password == confirmPassword }}</p>
    </div>
  </div>
</ng-template>

